@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* ### Primary */

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* ### Neutral */

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    width: 100%;
}

.card-container {
    margin: 2rem;
    border-radius: 1.5rem;
    background-color: #FFF;

}

.header-image {
    border-radius: 1.5rem 1.5rem 0 0;
}

.card-body {
    text-align: center;
}

.card-body h1 {
    margin: 1.5rem 0;
    font-weight: 900;
}

.card-body p {
    line-height: 1.5rem;
    padding: 0 4rem;
    color: var(--desaturated-blue);
}

.card-plan {
    background-color: var(--very-pale-blue);
    margin: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding: 1.3rem;
    justify-content: space-between;
}

.plan-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.card-plan-sub {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.price-text,
.cancel {
    color: var(--desaturated-blue);
}

.plan-image {
    width: 3.5rem;
}

.change-text:hover {
    text-decoration: none;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 1rem;
    margin: 0 2rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

.btn-blue {
    background-color: var(--bright-blue);
    color: #FFF;
    transition: opacity linear .3s;
}

.btn-blue:hover {
    opacity: 70%;
    color: #FFF;
}

.cancel:hover {
    color: var(--dark-blue);
}


@media (min-width: 375px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        place-items: center;
        background-color: var(--pale-blue);
    }

    .card-container {
        width: 30rem;
    }
}